body {
  min-height: 750px;
}

.hero-header {
  background-image: url('./img/bg3.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 750px;
  padding: 4em 7em 7em 7em;
}

#search {
  box-shadow: 0 0 30px black;
  height: 400px;
  padding: 22px;
}

#filter {
  box-shadow: -30 0 0px black;
}

#filter  > h3{
  display: inline;
  padding-right: 250px;
}

#filter > button > img{
  width: 32px;
  height: 32px;
}


#filter > a {
  float:right;
  cursor: pointer;
}

#filter > button {
  margin-left: 5px;
}

#suggest {
  float: right;
}

.itinerary-img {
  width: 100px;
  height: 100px;
}

#summary {
  height: 600px;
}

#itinerary-container {
  overflow: auto;
  height: 600px;
}

#results-container {
  overflow: auto;
  height: 600px;
}

.results-image {
  width: 252px;
  height: 150px;
}

.results-body {
  height: 130px;
}
