body {
  min-height: 750px;
  /*padding-top: 50px;*/
}

.imageResult {
  width: 252px;
  height: 150px;
}

.results {
  height: 300px;
}

.results-body {
  height: 130px;
}

.hero-header {
  background-image: url('./img/bg3.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 750px;
  padding: 7em;
  /*color: #fff;*/
}

.nav > li > a {
  font-family: Arial;
  font-size: 18px;
  color: white;
}

#navi {
  position: relative;
  /*top: -150px;
  left: 80%;*/
}

.search {
  box-shadow: 0 0 30px black;
  height: 400px;
  padding: 22px;
}

.search > div > h3 {
  font-family: Arial;
}
