<div ng-init"start = false" ng-controller = "searchController as search" class="container">
  <div class = "row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div id="filter" class="panel-heading">
          <h3 class="panel-title">{{start == false ? 'Search Results' : 'Our Suggestion'}} | </h3>
          <button class="btn btn-default btn-sm" ng-click="search.hikes(query)"><img class="img-responsive center-block" src="./img/hiking.png">Hiking</button>
          <button class="btn btn-default btn-sm" ng-click="search.restaurant(query)"><img class="img-responsive center-block" src="./img/restaurants.png">Restaurants</button>
          <button class="btn btn-default btn-sm" ng-click="search.museums(query)"><img class="img-responsive center-block" src="./img/museum.png">Museums</button>
          <button class="btn btn-default btn-sm" ng-click="search.nightlife(query)"><img class="img-responsive center-block" src="./img/beer.png">Night Life</button>
          <button id="suggest" class="btn btn-default btn-sm" ng-click="start = !start; search.itinerary(query)"> Suggest a daily itinerary </button>
        </div>
        <div ng-show="!start" id="results-container">
          <div ng-repeat="item in search.filteredActivities">
            <div class="col-md-3">
              <a href = "/#/activity?q={{query}}&n={{item.title}}&type={{item.type}}">
                <div class="panel panel-default">
                  <div class="panel">
                    <img class="img-responsive results-image" src={{item.url}}>
                  </div>
                  <div class="panel-body results-body">
                    <h5>{{item.title}}</h5>
                    Avg Price : {{item.price == 'Not Available' ? item.price : '$' + item.price + '.00'}}
                    <br>
                    ID : {{item.id}}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <itinerary></itinerary>
      </div>
    </div>
  </div>
</div>
