<div ng-init"start = false" ng-controller = "searchController as search" class="container">
  <div class = "row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 style="display: inline" class="panel-title">Filters</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <button class="btn btn-default" ng-click="search.hikes(query)">Hiking</button>
            </div>
            <div class="col-md-3">
              <button class="btn btn-default" ng-click="search.restaurant(query)">Restaurants</button>
            </div>
            <div class="col-md-3">
              <button class="btn btn-default" ng-click="search.museums(query)">Museums</button>
            </div>
            <div class="col-md-3">
              <button class="btn btn-default" ng-click="search.nightlife(query)">Night Life</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div id="search-title" class="panel-heading">
          <h3 class="panel-title">{{start == false ? 'Search Results' : 'Our Suggestion'}}</h3>
          <a ng-click="start = !start; search.itinerary(query)"> Suggest me an Itinerary </a>
        </div>
        <div ng-show="!start">
          <div ng-repeat="item in search.filteredActivities">
            <div class="col-md-3 results">
              <div class="panel panel-default">
                <div class="panel">
                  <img class="img-responsive imageResult" src={{item.url}}>
                </div>
                <div class="panel-body results-body">
                  <h5>{{item.title}}</h5>
                  Avg Price : {{item.price == 'Not Available' ? item.price : '$' + item.price + '.00'}}
                  <br>
                  ID : {{item.id}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <itinerary></itinerary>
      </div>
    </div>
  </div>
</div>
