<div ng-controller = "searchController as search" class="container">
  <div class = "row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Filters</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-2">
            <button class="btn btn-default" ng-click="search.filter(query, 20)"> Less than $20</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Search Results</h3>
        </div>
        <div ng-repeat="item in search.filteredActivities" class="panel-body">
          <div class="media" style="height: 200px;">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object" src={{item.url}}>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{item.title}}</h4>
              Price : ${{item.price}}.00
              <br>
              ID : {{item.id}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Recommendation</h3>
        </div>
        <div class="panel-body">
          {{search.food}}
        </div>
      </div>
    </div>
  </div>
</div>
